body {
    background-color: rgb(182, 209, 233);
}
.container{
    background-color: rgb(255, 255, 255);
}
.contentDiv
{
    border: 2px solid black;
    border-radius: 25px;
    border-collapse: separate;
    /* margin-bottom: 10px;
    padding: 2px;
    padding-left: 25px; */
}

.searchForm {
    padding: 15px;
}

.searchRow
{
    background-color: aliceblue;
}
.logoutBtn{
    margin-left: 5px;
}
button {
    margin-left: 5px;
}
.btnactive {
    color: red;
    background-color: red;

}
html {
    scroll-behavior: smooth;
  }

#alertDiv {
    display: none;
}